# requirements.txt

# pypqc base criptográfica (Kyber1024, Falcon1024, Dilithium5, etc.)
pypqc

# Embaralhamento
pyshark

# Rede mesh + tools wireguard + configs para servidor/cliente
wg-meshconf        # Geração de configs para redes mesh WireGuard
wireguard          # Automação de configs para servidor/cliente
wireguard4netns    # VPN para namespaces sem root via wireguard-go

# Testes automatizados
pytest
ruff

# Análise de tráfego e entropia
scapy
PySocks

# Bindings nativos para bibliotecas C
cffi
pycparser

# Logging avançado com rotação, JSON, integração externa
logging4

# Empacotamento e build
build
twine
setuptools
wheel

